{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col s6">
        <textarea name="binData" placeholder="Type MathJax between # symbols, TeX between $ symbols." id="jaxInput" class="jaxInput materialize-textarea"></textarea>
        <label for="jaxInput">Type MathJax or LaTeX. For instance, try <pre>#r = 4sin(theta)#</pre> or <pre>$r = \pi$</pre>.</label>

        <div class="submitBtn">
            <a href="#" id="createBin" class="btn btn-success">Create</a>
        </div>
    </div>

    <div class="col s6">
        <div id="renderJax" class="renderJax">
            <h3 class="previewLoading">Preview will appear here</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="binLinkWrapper">
        <span id="binLink"></span>
    </div>
</div>

<div class="row">
    <div id="mathjaxExamplesTable" class="clearfix">
        <div class="column floatLeft col s4">
            <h4>Super and subscript</h4>
            <ul>

                <li class="clearfix">
                    <span class="input floatLeft">x^2</span><span class="output floatRight">#x^2#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">x^(y+5)</span><span class="output floatRight">#x^(y+5)#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">F_x</span><span class="output floatRight">#F_x#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">V_&#34;car&#34;</span><span class="output floatRight">#V_&#34;car&#34;#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">&#34;&#34;_12^25 Mg^(2-)</span><span class="output floatRight">#&#34;&#34;_12^25 Mg^(2-)#</span>
                </li>

            </ul>
            <h4>Operators</h4>
            <ul>

                <li class="clearfix">
                    <span class="input floatLeft">+</span><span class="output floatRight">#+#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">-</span><span class="output floatRight">#-#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">*</span><span class="output floatRight">#*#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">**</span><span class="output floatRight">#**#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">//</span><span class="output floatRight">#//#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">xx</span><span class="output floatRight">#xx#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">-:</span><span class="output floatRight">#-:#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">@</span><span class="output floatRight">#@#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">o+</span><span class="output floatRight">#o+#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">ox</span><span class="output floatRight">#ox#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">o.</span><span class="output floatRight">#o.#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">sum</span><span class="output floatRight">#sum#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">sqrt</span><span class="output floatRight">#sqrt#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">root(n)</span><span class="output floatRight">#root(n)#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">prod</span><span class="output floatRight">#prod#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">^^</span><span class="output floatRight">#^^#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">^^^</span><span class="output floatRight">#^^^#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">vv</span><span class="output floatRight">#vv#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">vvv</span><span class="output floatRight">#vvv#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">nn</span><span class="output floatRight">#nn#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">nnn</span><span class="output floatRight">#nnn#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">uu</span><span class="output floatRight">#uu#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">uuu</span><span class="output floatRight">#uuu#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">int</span><span class="output floatRight">#int#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">int_a^b</span><span class="output floatRight">#int_a^b#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">oint</span><span class="output floatRight">#oint#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">del</span><span class="output floatRight">#del#</span>
                </li>

            </ul>
            <h4>Arrows</h4>
            <ul>

                <li class="clearfix">
                    <span class="input floatLeft">uarr</span><span class="output floatRight">#uarr#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">darr</span><span class="output floatRight">#darr#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">rarr</span><span class="output floatRight">#rarr#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">-&gt;</span><span class="output floatRight">#-&gt;#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">|-&gt;</span><span class="output floatRight">#|-&gt;#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">larr</span><span class="output floatRight">#larr#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">harr</span><span class="output floatRight">#harr#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">rArr</span><span class="output floatRight">#rArr#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">lArr</span><span class="output floatRight">#lArr#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">hArr</span><span class="output floatRight">#hArr#</span>
                </li>

            </ul>
            <h4>Relation symbols</h4>
            <ul>

                <li class="clearfix">
                    <span class="input floatLeft">=</span><span class="output floatRight">#=#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">!=</span><span class="output floatRight">#!=#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">&lt;</span><span class="output floatRight">#&lt;#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">&gt;</span><span class="output floatRight">#&gt;#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">&lt;=</span><span class="output floatRight">#&lt;=#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">&gt;=</span><span class="output floatRight">#&gt;=#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">-&lt;</span><span class="output floatRight">#-&lt;#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">&gt;-</span><span class="output floatRight">#&gt;-#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">in</span><span class="output floatRight">#in#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">!in</span><span class="output floatRight">#!in#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">sub</span><span class="output floatRight">#sub#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">sup</span><span class="output floatRight">#sup#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">sube</span><span class="output floatRight">#sube#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">supe</span><span class="output floatRight">#supe#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">-=</span><span class="output floatRight">#-=#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">~=</span><span class="output floatRight">#~=#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">~~</span><span class="output floatRight">#~~#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">prop</span><span class="output floatRight">#prop#</span>
                </li>

            </ul>
        </div>
        <div class="column floatLeft col s4">
            <h4>Misc symbols</h4>
            <ul>

                <li class="clearfix">
                    <span class="input floatLeft">int</span><span class="output floatRight">#int#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">int_a^b</span><span class="output floatRight">#int_a^b#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">oint</span><span class="output floatRight">#oint#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">del</span><span class="output floatRight">#del#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">grad</span><span class="output floatRight">#grad#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">sum</span><span class="output floatRight">#sum#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">+-</span><span class="output floatRight">#+-#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">O/</span><span class="output floatRight">#O/#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">oo</span><span class="output floatRight">#oo#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">aleph</span><span class="output floatRight">#aleph#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">cancel(x^2)</span><span class="output floatRight">#cancel(x^2)#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">color(red)(x^2)</span><span class="output floatRight">#color(red)(x^2)#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">/_</span><span class="output floatRight">#/_#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">:.</span><span class="output floatRight">#:.#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">|...|</span><span class="output floatRight">#|...|#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">|cdots|</span><span class="output floatRight">#|cdots|#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">vdots</span><span class="output floatRight">#vdots#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">ddots</span><span class="output floatRight">#ddots#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">|\ |</span><span class="output floatRight">#|\ |#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">|quad|</span><span class="output floatRight">#|quad|#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">diamond</span><span class="output floatRight">#diamond#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">square</span><span class="output floatRight">#square#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">|__</span><span class="output floatRight">#|__#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">__|</span><span class="output floatRight">#__|#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">|~</span><span class="output floatRight">#|~#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">~|</span><span class="output floatRight">#~|#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">CC</span><span class="output floatRight">#CC#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">NN</span><span class="output floatRight">#NN#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">QQ</span><span class="output floatRight">#QQ#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">RR</span><span class="output floatRight">#RR#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">ZZ</span><span class="output floatRight">#ZZ#</span>
                </li>

            </ul>
            <h4>Logical symbols</h4>
            <ul>

                <li class="clearfix">
                    <span class="input floatLeft">and</span><span class="output floatRight">#and#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">or</span><span class="output floatRight">#or#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">not</span><span class="output floatRight">#not#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">=&gt;</span><span class="output floatRight">#=&gt;#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">if</span><span class="output floatRight">#if#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">iff</span><span class="output floatRight">#iff#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">AA</span><span class="output floatRight">#AA#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">EE</span><span class="output floatRight">#EE#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">_|_</span><span class="output floatRight">#_|_#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">TT</span><span class="output floatRight">#TT#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">|--</span><span class="output floatRight">#|--#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">|==</span><span class="output floatRight">#|==#</span>
                </li>

            </ul>
            <h4>Accents</h4>
            <ul>

                <li class="clearfix">
                    <span class="input floatLeft">hat x</span><span class="output floatRight">#hat x#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">bar x</span><span class="output floatRight">#bar x#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">ul x</span><span class="output floatRight">#ul x#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">vec x</span><span class="output floatRight">#vec x#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">dot x</span><span class="output floatRight">#dot x#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">ddot x</span><span class="output floatRight">#ddot x#</span>
                </li>

            </ul>
        </div>
        <div class="column floatLeft col s4">
            <h4>Standard functions</h4>
            <ul>

                <li class="clearfix">
                    <span class="input floatLeft">sin</span><span class="output floatRight">#sin#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">cos</span><span class="output floatRight">#cos#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">tan</span><span class="output floatRight">#tan#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">csc</span><span class="output floatRight">#csc#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">sec</span><span class="output floatRight">#sec#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">cot</span><span class="output floatRight">#cot#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">sinh</span><span class="output floatRight">#sinh#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">cosh</span><span class="output floatRight">#cosh#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">tanh</span><span class="output floatRight">#tanh#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">log</span><span class="output floatRight">#log#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">ln</span><span class="output floatRight">#ln#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">det</span><span class="output floatRight">#det#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">dim</span><span class="output floatRight">#dim#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">lim</span><span class="output floatRight">#lim#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">mod</span><span class="output floatRight">#mod#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">gcd</span><span class="output floatRight">#gcd#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">lcm</span><span class="output floatRight">#lcm#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">min</span><span class="output floatRight">#min#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">max</span><span class="output floatRight">#max#</span>
                </li>

            </ul>
            <h4>Greek letters</h4>
            <ul>

                <li class="clearfix">
                    <span class="input floatLeft">Gamma</span><span class="output floatRight">#Gamma#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">Delta</span><span class="output floatRight">#Delta#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">Theta</span><span class="output floatRight">#Theta#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">Lambda</span><span class="output floatRight">#Lambda#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">Xi</span><span class="output floatRight">#Xi#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">Pi</span><span class="output floatRight">#Pi#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">Sigma</span><span class="output floatRight">#Sigma#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">Phi</span><span class="output floatRight">#Phi#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">Psi</span><span class="output floatRight">#Psi#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">Omega</span><span class="output floatRight">#Omega#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">alpha</span><span class="output floatRight">#alpha#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">beta</span><span class="output floatRight">#beta#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">gamma</span><span class="output floatRight">#gamma#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">delta</span><span class="output floatRight">#delta#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">epsilon</span><span class="output floatRight">#epsilon#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">varepsilon</span><span class="output floatRight">#varepsilon#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">zeta</span><span class="output floatRight">#zeta#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">eta</span><span class="output floatRight">#eta#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">theta</span><span class="output floatRight">#theta#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">vartheta</span><span class="output floatRight">#vartheta#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">iota</span><span class="output floatRight">#iota#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">kappa</span><span class="output floatRight">#kappa#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">lambda</span><span class="output floatRight">#lambda#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">mu</span><span class="output floatRight">#mu#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">nu</span><span class="output floatRight">#nu#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">xi</span><span class="output floatRight">#xi#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">pi</span><span class="output floatRight">#pi#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">rho</span><span class="output floatRight">#rho#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">sigma</span><span class="output floatRight">#sigma#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">tau</span><span class="output floatRight">#tau#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">upsilon</span><span class="output floatRight">#upsilon#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">phi</span><span class="output floatRight">#phi#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">varphi</span><span class="output floatRight">#varphi#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">chi</span><span class="output floatRight">#chi#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">psi</span><span class="output floatRight">#psi#</span>
                </li>

                <li class="clearfix">
                    <span class="input floatLeft">omega</span><span class="output floatRight">#omega#</span>
                </li>

            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="/static/js/index.js"></script>
{% endblock %}
